<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <Settings>
    <MainSettings>
      <BodyTrackingMode>MediaPipeHandLandmarks</BodyTrackingMode>
      <TrackedJointScoreThreshold>0.6</TrackedJointScoreThreshold>
      <InferredJointScoreThreshold>0.5</InferredJointScoreThreshold>
      <AllowBodyTrackingLostForRecordingAndRecognizingUsingMediaPipeModels>False</AllowBodyTrackingLostForRecordingAndRecognizingUsingMediaPipeModels>
    </MainSettings>
    <MediaPipePoseLandmarksBodyTrackingModeSettings>
      <MinPoseDetectionConfidence>0.6</MinPoseDetectionConfidence>
      <MinPosePresenceConfidence>0.6</MinPosePresenceConfidence>
      <MinTrackingConfidence>0.6</MinTrackingConfidence>
    </MediaPipePoseLandmarksBodyTrackingModeSettings>
    <MediaPipeHandLandmarksBodyTrackingModeSettings>
      <NumHands>2</NumHands>
      <MinHandDetectionConfidence>0.6</MinHandDetectionConfidence>
      <MinHandPresenceConfidence>0.6</MinHandPresenceConfidence>
      <MinTrackingConfidence>0.6</MinTrackingConfidence>
    </MediaPipeHandLandmarksBodyTrackingModeSettings>
  </Settings>
</configuration>