<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <Settings>
    <MainSettings>
      <BodyTrackingMode>Kinect</BodyTrackingMode>
      <TrackedJointScoreThreshold>0.2</TrackedJointScoreThreshold>
      <InferredJointScoreThreshold>0.1</InferredJointScoreThreshold>
      <AllowBodyTrackingLostForRecordingAndRecognizingUsingMediaPipeModels>False</AllowBodyTrackingLostForRecordingAndRecognizingUsingMediaPipeModels>
      <GesturePredictionScoreThreshold>0.5</GesturePredictionScoreThreshold>
      <AllowAutomaticGestureRecordExport>False</AllowAutomaticGestureRecordExport>
      <DefaultGestureLabel>hello</DefaultGestureLabel>
      <CurrentUser>Michal</CurrentUser>
      <GesturesDatasetPath>C:\Users\Michal\OneDrive\Studies\Praca_MGR\Project\Data\ASLGestures\GesturesDataset</GesturesDatasetPath>
      <!-- LeftOneHand, RightOneHand, LeftTwoHands, RightTwoHands, Slower, Quicker -->
      <GestureRecordFileNameExtraLabel>LeftOneHand</GestureRecordFileNameExtraLabel>
    </MainSettings>
    <MediaPipePoseLandmarksBodyTrackingModeSettings>
      <MinPoseDetectionConfidence>0.2</MinPoseDetectionConfidence>
      <MinPosePresenceConfidence>0.5</MinPosePresenceConfidence>
      <MinTrackingConfidence>0.5</MinTrackingConfidence>
    </MediaPipePoseLandmarksBodyTrackingModeSettings>
    <MediaPipeHandLandmarksBodyTrackingModeSettings>
      <NumHands>2</NumHands>
      <MinHandDetectionConfidence>0.2</MinHandDetectionConfidence>
      <MinHandPresenceConfidence>0.5</MinHandPresenceConfidence>
      <MinTrackingConfidence>0.5</MinTrackingConfidence>
    </MediaPipeHandLandmarksBodyTrackingModeSettings>
  </Settings>
</configuration>