<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <settings>
    <section name="MainSettings">
      <key attribute="BodyTrackingMode">Kinect</key>
      <key attribute="TrackedJointScoreThreshold">0.6</key>
      <key attribute="InferredJointScoreThreshold">0.5</key>
    </section>
    <section name="MediaPipePoseLandmarksBodyTrackingModeSettings">
      <key attribute="MinPoseDetectionConfidence">0.8</key>
      <key attribute="MinPosePresenceConfidence">0.8</key>
      <key attribute="MinTrackingConfidence">0.8</key>
    </section>
    <section name="MediaPipeHandLandmarksBodyTrackingModeSettings">
      <key attribute="NumHands">2</key>
      <key attribute="MinHandDetectionConfidence">0.6</key>
      <key attribute="MinHandPresenceConfidence">0.6</key>
      <key attribute="MinTrackingConfidence">0.6</key>
    </section>
  </settings>
</configuration>